/**
 * PRIMARY COLORS
 * The prevalent colours used on the website.
 */
 $color-black: #0B0D17;
 $color-violet: #D0D6F9;
 $color-white: #FFFFFF;
 
 
 
 /**
  * TYPOGRAPHY
  */
 
 $font-headers: 'Bellefair', serif;
 $font-subheader: 'Barlow Condensed', sans-serif;
 $font-texts: 'Barlow', sans-serif;