#Destination {
    background-image: url(/assets/destination/background-destination-desktop.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#Destination .container {padding: 200px 20px 80px;}

#Destination .destination_sub-container {max-width: 90%; margin: auto;}

#Destination .tab {display: flex;  margin: 80px 0 52px;}
#Destination .tab .tab_left_container {width: 55%;}
#Destination .tab .tab_container {width: 45%;}

#Destination .tab span:first-child {margin: 0 !important;}
#Destination .tab span {
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: $color-white;
    cursor: pointer;
    padding: 12px 0;
    margin-left: 35px;
}
  
#Destination .tab span:hover {border-bottom: 3px solid #8a8b90;}
#Destination .tab span.active {border-bottom: 3px solid $color-white;}
#Destination .tabcontent {display: none;}

#Destination .planet_container {display: flex;}

#Destination .planet_image {width: 55%; padding-right: 50px;}
#Destination .planet_content {width: 45%;}
#Destination .planet_image img {width: 100%; max-width: 500px; margin-top: -40px;}

#Destination .planet_info {display: flex;}
#Destination .plant_distance {margin-right: 80px;}

@media only screen and (max-width: 1024px) {
    #Destination {background-image: url(/assets/destination/background-destination-tablet.jpg);}

    #Destination .tab {margin: 80px 0;}
    #Destination .tab .tab_left_container {display: none;}
    #Destination .tab .tab_container {width: 100%; text-align: center;}

    #Destination .planet_container {display: block; text-align: center;}

    #Destination .planet_image,
    #Destination .planet_content {width: 100%; padding: 0;}

    #Destination .planet_image img {margin: 0 0 40px;}

    #Destination .planet_info {justify-content: space-evenly;}
    #Destination .plant_distance, 
    #Destination .plant_travel {margin: 0 20px;}
}

@media only screen and (max-width: 500px) {
    #Destination .planet_content h2 {font-size: 56px;}

    #Destination .planet_info {display: block;}
    #Destination .plant_distance {margin: 40px 20px;}
}

@media only screen and (max-width: 375px) {
    #Destination .tab span:first-child {margin: 0 0 20px !important;}
    #Destination .tab span {display: block; margin: 0 0 20px; border-bottom: 3px solid transparent;}
}