#Technology {
    background-image: url(/assets/technology/background-technology-desktop.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#Technology .container {padding: 200px 20px 80px;}

#Technology .destination_sub-container {max-width: 90%; margin: auto;}

#Technology .tab {display: flex;   margin: 80px 0 52px; width: 12%;}
#Technology .tab span {display: block;}

#Technology .tab span {
    color: #fff;
    cursor: pointer;
    font-family: Bellefair;
    font-size: 32px;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    border: 1px solid #45464f;
    width: 80px;
    height: 80px;
    margin-bottom: 32px;  
}
  
#Technology .tab span:hover,
#Technology .tab span.active {
    background-color: white;
    color: #0B0D17;
}
#Technology .tabcontent {display: none; width: 100%;}

#Technology .technology_sub-container,
#Technology .technology_container {display: flex; align-items: center; margin-top: 30px;}

#Technology .technology_image {width: 44%;}
#Technology .technology_content {width: 60%;}

#Technology .technology_content span {
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
}

#Technology .technology_content h2 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;}