#Technology {
    background-image: url(/assets/technology/background-technology-desktop.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#Technology .container {padding: 200px 0 80px 20px;}

#Technology .destination_sub-container {max-width: 90%; margin: auto;}

#Technology .tab {display: flex;   margin: 80px 0 52px; width: 12%;}
#Technology .tab span {display: block;}

#Technology .tab span {
    color: #fff;
    cursor: pointer;
    font-family: Bellefair;
    font-size: 32px;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    border: 1px solid #45464f;
    width: 80px;
    height: 80px;
    margin-bottom: 32px;  
}
  
#Technology .tab span:hover,
#Technology .tab span.active {
    background-color: white;
    color: #0B0D17;
    border: 1px solid white;
}
#Technology .tabcontent {display: none; width: 100%;}

#Technology .technology_sub-container,
#Technology .technology_container {display: flex; align-items: center; margin-top: 30px;}

#Technology .technology_image {width: 44%;}
#Technology .technology_content {width: 60%;}

#Technology .technology_image img {width: 100%;}

#Technology .technology_content span {
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
}

#Technology .technology_content h2 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
}

#Technology .technology_image_tablet {display: none;}

@media only screen and (max-width: 1024px) {
    #Technology {background-image: url(/assets/technology/background-technology-tablet.jpg);}

    #Technology .container {padding: 200px 0 80px}

    #Technology .subheading {width: 100%; padding: 0 20px;}

    #Technology .tab {width: 100%;}
    #Technology .tab .tab_container {width: 100%; display: flex; justify-content: center;}
    #Technology .tab span {margin: 0 20px;}

    #Technology .technology_container {display: flex !important; flex-direction: column; }
    #Technology .technology_image { order: 1; }
    #Technology .technology_content { order: 2; padding: 0 20px;}

    #Technology .technology_sub-container, 
    #Technology .technology_container {display: block;}

    #Technology .technology_content,
    #Technology .technology_image {width: 100%; margin-bottom: 60px; text-align: center;}

    #Technology .technology_content h2 {margin-bottom: 20px;}

    #Technology .technology_image_mobile {display: none;}
    #Technology .technology_image_tablet {display: block !important;}
}

@media only screen and (max-width: 500px) {
    #Technology .tab span {
        font-size: 22px;
        width: 60px;
        height: 60px;
        line-height: 60px;
      }

    #Technology .technology_content span {font-size: 16px;}
    #Technology .technology_content h2 {font-size: 34px; line-height: 34px;}
}